<div class="h5 row navigation">
    <div class="col-md-3 cursor" ng-class="navbar === 'workflowInfo' ? 'active': '' " ng-click="changeNav('workflowInfo')">
        <img src="assets/images/icon-workflow-active.png" width="20"/>
        Workflow Infomation
    </div>
    <div class="col-md-3 cursor" ng-class="navbar === 'dataMapLink' ? 'active': '' " ng-click="changeNav('dataMapLink')">
        <img src="assets/images/icon-dataMap-link.png" width="20"/>
        Edit Data Map Link
    </div>
    <div class="col-md-2 cursor" ng-class="navbar === 'historyInfo' ? 'active': '' " ng-click="changeNav('historyInfo')">
        <img src="assets/images/icon-history.png" width="20"/>
        Run History Info
    </div>
    <div class="col-md-4" style="margin-top:-0.6em;">
        <div class="btn-toolbar row">
            <button id="newComponentBtn" type="button" class="btn" style="background:#49ba4e;color:#fff;" ng-click="saveWorkflow()">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                <span style="margin:0 5px">Save</span>
            </button>
            <button id="cancelNewComponentBtn" type="button" class="btn btn-inverse" style="margin-left:5px;" ng-click="backToList()">
                <i class="fa fa-reply"></i>
                <span style="margin:0 5px">Cancel</span>
            </button>
            <button id="workflowSetting" type="button" class="btn" style="background:#2196f3;color:#fff;margin-left:5px;" ng-click="isShowDialog(true)">
                <i class="fa fa-cog"></i>
                <span style="margin:0 5px">Setting</span>
            </button>
        </div>
    </div>
</div>
<div ng-hide="navbar === 'dataMapLink' || navbar === 'historyInfo'">
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12" style="width:100%;height: 300px; background:#fff"></div>
    </div>
    <div class="row" style="width:100%">
        <div class="col-md-12">
            <h5>
               <span class="glyphicon glyphicon-option-horizontal designer-split" draggable="true"></span>
            </h5>
        </div>
    </div>
    <div class="dialog" ng-if="isShowSetting.showInfo"></div>
    <div id="workflow-setting" ng-if="isShowSetting.showInfo">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row nav-setting">
                    <div class="col-xs-3 space">Workflow setting</div>
                    <div class="col-xs-2 space cursor-pointer" ng-class="isShowSetting.settingType === 'base' ? 'active' : '' " ng-click="changeSettingNav('base')">Base setting</div>
                    <div class="col-xs-2 space cursor-pointer" ng-class="isShowSetting.settingType === 'env' ? 'active' : '' " ng-click="changeSettingNav('env')">Env setting</div>
                    <div class="col-xs-3 space cursor-pointer" ng-class="isShowSetting.settingType === 'global' ? 'active' : '' " ng-click="changeSettingNav('global')">Global Varibale setting</div>
                    <div class="col-xs-2 space cursor-pointer"><span class="save-setting" ng-click="isShowDialog(false)">OK</span></div>
                </div>
                <div class="row base-setting" ng-if="isShowSetting.settingType === 'base'">
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        Workflow Name
                        <input type="text" ng-model="setting.baseInfo.name">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        Workflow Version
                        <input type="text" ng-model="setting.baseInfo.version">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        Workflow Url
                        <input type="text" ng-model="setting.baseInfo.webhookURL">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        Workflow Token
                        <input type="text" ng-model="setting.baseInfo.webhookSecret">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        KUBE_APISERVER_IP
                        <input type="text" ng-model="setting.baseInfo.serverIp">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        KUBE_NODE_IP
                        <input type="text" ng-model="setting.baseInfo.nodeIp">
                    </div>
                    <div class="col-xs-12 marg-bt-ten">
                        <img src="assets/images/icon-workflow-active.png" class="icon-size">
                        Select the workflow to start the way
                    </div>
                    <div class="col-xs-5" style="padding-left: 50px">
                        <input type="radio" name="startway" value="number" ng-model="isShowSetting.startWay">
                        Number of running instances
                    </div>
                    <div class="col-xs-3">
                        <input type="radio" name="startway" value="manual" ng-model="isShowSetting.startWay">
                        Manual start
                    </div>
                    <div class="col-xs-3">
                        <input type="radio" name="startway" value="timed" ng-model="isShowSetting.startWay">
                        Timed Task
                    </div>
                    <div class="col-xs-12" ng-if="isShowSetting.startWay === 'number'">
                        <input type="number" ng-model="setting.runningInstances.number">
                        <span class="col-purple">/ times</span>
                    </div>
                    <div class="col-xs-12" ng-if="isShowSetting.startWay === 'manual'">
                        <textarea class="manual" ng-model="setting.manualStart"></textarea>
                    </div>
                    <div class="col-xs-12" ng-if="isShowSetting.startWay === 'timed'">
                        <div class="row" ng-repeat="item in setting.timedTasks.tasks" style="margin-top:20px">
                            <div class="col-xs-3">
                                <img src="assets/images/icon-workflow-active.png" class="icon-size">
                                Timed Task
                            </div>
                            <div class="col-xs-9 task-info">
                                <div class="pull-left" style="width:80%">
                                    <textarea>{{item.eventName}} | {{item.eventType}} | {{item.startJson}}</textarea><br/>
                                    Generated cron entry: {{item.cronEntry}}
                                </div>
                                <div class="pull-right">
                                    <img src="assets/images/icon-edit.png" class="icon-size"/>
                                    <img src="assets/images/icon-delete.png" class="icon-size" ng-click="timeTaskEvent.delete($index)"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="margin-top:30px">
                            <span class="add-task"ng-click="timeTaskEvent.add()">+ Add Timed Task</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="isShowSetting.settingType === 'env'">
                    <div class="col-xs-6">
                        KUBE_APISERVER_IP
                    </div>
                    <div class="col-xs-6 marg-bt-ten">
                        <input type="text" ng-model="setting.env.serverIp">
                    </div>
                    <div class="col-xs-6">
                        KUBE_NODE_IP
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="setting.env.nodeIp">
                    </div>
                </div>
                <div class="row" ng-if="isShowSetting.settingType === 'global'">
                    <div class="col-xs-6">
                        KUBE_APISERVER_IP
                    </div>
                    <div class="col-xs-6 marg-bt-ten">
                        <input type="text" ng-model="setting.globalVar.serverIp">
                    </div>
                    <div class="col-xs-6">
                        KUBE_NODE_IP
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="setting.globalVar.nodeIp">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row" ui-view="element"></div>
</div>
<div ng-if="navbar === 'dataMapLink'" style="background:#fff;padding:10px">there is no data</div>
<div ng-if="navbar === 'historyInfo'" style="background:#fff;padding:10px">there is no history</div>
