<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #ddd;">
        <h3 class="panel-title">Stage Information</h3>

    </div>
    <div class="panel-body" style="background-color: #fff;min-height: 200px;">
        <form class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            <span class="icon icon-baseImage-respository-name"></span>
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="devops-input" placeholder="Stage Name" title="Stage Name" ng-model="stage.name" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            <i class="icon icon-baseImage-tag"></i>
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="devops-input" placeholder="Stage Timeout" title="Stage Timeout" ng-model="stage.timeout">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            <span class="icon icon-baseImage-respository-name"></span>
                        </label>
                         <label class="col-md-10 control-label" style="text-align: left;">
                            <span>What is the sequence of actions execution?</span>
                        </label>
                        
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-6">
                    <label class="col-md-offset-1 col-md-2 radio-inline" >
                        <input type="radio" name="inlineRadioOptions" value="option1"> Serial
                    </label>
                    <label class="col-md-2 radio-inline">
                        <input type="radio" name="inlineRadioOptions" value="option2"> Parallel
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
