<div id="projectList">
	<div class="text-right">
		<a ui-sref="project.edit" class="create btn btn-success">+ Create Project</a>
	</div>
	<table class="table table-striped list">
		<tr>
			<td>name</td>
			<td>desciption</td>
			<td>application</td>
			<td>modules</td>
			<td>operation</td>
		</tr>
		<tr>
			<td>t1</td>
			<td>t1</td>
			<td>5</td>
			<td>8</td>
			<td><button class="btn-info">edit</button></td>
		</tr>
		<tr>
			<td>t2</td>
			<td>t2</td>
			<td>5</td>
			<td>8</td>
			<td><button class="btn-info">edit</button></td>
		</tr>
	</table>
</div>