# See http://help.github.com/ignore-files/ for more about ignoring files.

# scaffold
scaffold/dist
scaffold/dev
scaffold/tmp
scaffold/css/
scaffold/node_modules
scaffold/bower_components

# joints
joints/dist
joints/dev
joints/tmp
joints/css/
joints/node_modules
joints/bower_components

# tenant
tenant/*/dist
tenant/*/css
tenant/*/dev
tenant/*/src/app/*.js
tenant/*/src/app/*.js.map
tenant/*/src/main.js
tenant/*/src/main.js.map
tenant/node_modules
tenant/bower_components
tenant/*/node_modules
tenant/*/bower_components
tenant/*、npm-debug.log

# pilotage
pilotage/pilotage
pilotage/conf
pilotage/cert
pilotage/log/*
pilotage/data/*
pilotage/pilotage
pilotage/vendor
pilotage/vendor/*

#singular
singular/singular
singular/.vscode

# docs
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/_posts/
docs/pdf/

# IDEs and editors
.idea
.idea/*
.vscode/*

pilotage/.idea
pilotage/.idea/*
scaffold/.idea
scaffold/.idea/*

scaffold/.project
scaffold/.classpath
scaffold/*.launch
scaffold/.settings/

# misc
scaffold/.sass-cache
scaffold/connect.lock
scaffold/coverage/*
scaffold/libpeerconnection.log
scaffold/npm-debug.log
scaffold/testem.log
scaffold/typings

# e2e
scaffold/e2e/*.js
scaffold/e2e/*.map

#System Files
.DS_Store
Thumbs.db


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
