<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css" media="screen,projection"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        header footer {
            font-family: 'Roboto Condensed', sans-serif;
        }

        footer {
            background-color: #24292e;
        }

        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <header class="page-footer" style="padding-top:10px; padding-left:20px; background-color: #eeeeee">
        <div class="container" style="padding-bottom:10px; width: 100%; color: black">
            <div class="row s12">
                <div class="col s1">
                    <img src="./public/icons/containerops_trans.png" style="width: 80px;">
                </div>
                <dir class="col s3">
                    IUntroduction
                </dir>
                <div class="col s1 offset-s7" style="display: flex">
                    <a class="grey-text text-lighten-4" href="https://github.com/Huawei/containerops">
                        <img src="public/icons/github.svg" style="width:30px; height:30px" />
                    </a>
                    <a class="grey-text text-lighten-4" href="https://github.com/Huawei/containerops" style="margin-left: 10px">
                        <img src="public/icons/twitter.svg" style="width:30px; height:30px" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="width: 100%">
        <table class="hightlight bordered striped centered">
            <thead>
                <tr>
                    {{range .infra_titles}}
                    <th>
                        <!-- We have to override the 'display: flex;' style in valign-wrapper to 
                            make the image and text aligned center vertically -->
                        <div class="valign-wrapper" style="display: block;">
                            <div class="center-align">
                                <a href={{.Link}} target="_blank">
                                    <img src="{{.Logo}}" style="width:35px; height:35px"/>
                                </a>
                            </div>
                            <div class="center-align" style="font-size: 11px">{{.Name}}</div>
                        </div>
                    </th>
                    {{end}}
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {{range $index, $value := .deployments}}
                <tr onclick="window.open('/detail/{{.SingularNamespace}}/{{.SingularRepository}}/{{.SingularName}}/{{.Tag}}/{{.Version}}')" onmouseover="this.style.cursor='pointer'">
                    {{range $value.Infras}}
                    <td>
                        {{if eq .Version "N/A" }}
                        <div class="chip halign-wrapper" style="font-weight: bold; font-size: 10px">{{.Version}}</div>
                        {{else}}
                        <div class="chip halign-wrapper green" style="color: #fefefe">{{.Version}}</div>
                        {{end}}
                        </div>
                    </td>
                    {{end}}
                    <td><i class="material-icons circle {{$value.StatusColor}} white-text">{{$value.StatusIcon}}</i></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <footer class="page-footer" style="padding-bottom: 55px; left: 0px; right: 0px; bottom: 0px;">
        <div class="container" style="width: 100%">
            <div class="right valign-wrapper" style="display: flex">
                <div style="margin-left: 5px; margin-right: 20px"> Powered By </div>
				<a class="grey-text text-lighten-4" href="https://github.com/Huawei/containerops">
					<img src="public/icons/huawei_pure_white.svg" style="width:40px; height:40px" />
				</a>
			</div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="public/js/materialize.min.js"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86107686-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments)
        };
        gtag('js', new Date());

        gtag('config', 'UA-86107686-3');
    </script>

</body>

</html>
