<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css" media="screen,projection"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <header class="page-footer blue" style="padding-top:10px; padding-left:20px;">
        <div class="container" style="padding-bottom:10px">
            <h2>Singular Deployments</h2>
        </div>
    </header>
    <div class="container">
        <table class="hightlight">
            <thead>
                <tr>
					{{range .infra_titles}}
					<th>
						<img src="{{.Logo}}" style="width:30px; height:30px"/>
						<div style="font-size: 11px">{{.Name}}</div>
					</th>
					{{end}}
					<th>Deployed At</th>
                    <th>Result</th>
                </tr>
            </thead>

            <tbody>
                {{range $index, $value := .deployments}}
                <tr onclick="window.open('/detail?deployment_id={{.ID}}')" onmouseover="this.style.cursor='pointer'">
                    {{range $value.Infras}}
                    <td>{{.Version}}</td>
                    {{end}}
					<td> {{ $value.CreatedTime }} </td>
                    <td><i class="material-icons {{$value.StatusColor}}-text">{{$value.StatusIcon}}</i></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <footer class="page-footer blue" style="padding-bottom: 25px; position: fixed; left: 0px; right: 0px; bottom: 0px">
        <div class="container">
            <span class="right">
				<a class="grey-text text-lighten-4" href="https://github.com/Huawei/containerops">
					<img src="public/icons/github.svg" style="width:20px; height:20px" />
					<div class="right" style="margin-left: 5px"> ContainerOps </div>
				</a>
			</span>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="public/js/materialize.min.js"></script>
</body>

</html>
