body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../assets/images/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}

login,register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 32px;
}

.auth-block h1 {
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
    font-size: 36px;
    color: white;
}

.auth-block a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #209e91;
}

.auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
}

.auth-block .form-group {
    margin-bottom: 12px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 15px;
}

.auth-block .control-label {
    padding-top: 11px;
    color: #ffffff;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.form-group label {
    margin-bottom: 5px;
    color: #666666;
    font-weight: 400;
    font-size: 13px;
}
.form-horizontal label {
    line-height: 34px;
    margin-bottom: 0;
    padding-top: 0 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
    color: #666666;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;
}

.form-control, .form-control:focus {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #ffffff;
}

.form-control::-webkit-input-placeholder, .form-control:focus::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.9; }
  .form-control:-moz-placeholder, .form-control:focus:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    opacity: 0.9; }
  .form-control::-moz-placeholder, .form-control:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    opacity: 0.9; }
  .form-control:-ms-input-placeholder, .form-control:focus:-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.9; }

.form-control[disabled]::-webkit-input-placeholder, .form-control[readonly]::-webkit-input-placeholder, fieldset[disabled] .form-control::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.6; }

.form-control[disabled]:-moz-placeholder, .form-control[readonly]:-moz-placeholder, fieldset[disabled] .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  opacity: 0.6; }

.form-control[disabled]::-moz-placeholder, .form-control[readonly]::-moz-placeholder, fieldset[disabled] .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  opacity: 0.6; }

.form-control[disabled]:-ms-input-placeholder, .form-control[readonly]:-ms-input-placeholder, fieldset[disabled] .form-control:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.6; }

.form-control:focus {
    box-shadow: none;
    border-color: #4db1a7;
 }

.btn {
    border-radius: 5px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

button.btn.btn-default {
    border-width: 1px;
    color: #666666;
    background: transparent;
    border-color: #d6d6d6;
}

.btn-auth {
    color: #ffffff !important;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; 
  background-color: rgba(0, 0, 0, 0.4);
}

a {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    outline: 0 !important;
}

.auth-block a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #209e91;
}

a.forgot-pass {
    display: block;
    text-align: right;
    margin-bottom: -20px;
    float: right;
    z-index: 2;
    position: relative;
}

.auth-block a:hover {
      color: #1b867b; 
}
