
<div class="row content no-data-div" ng-if="moduleList.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            no module, please click button below to create your first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-btn" ng-click="create()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>New Project</span>
            </button>
        </div>
    </div>
</div>
<div class="row" ng-if="moduleList.length > 0">
    <h3 class="page-title">
       Module - <strong> List </strong> 
    </h3>
   <!--  <h3 class="page-title">Organization - <span class="fw-semi-bold">List</span></h3> -->
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <button type="button" class="btn btn-success btn-sm pull-left" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span>Create</span>
                    </button>
                    <div class="pull-right" style="font-size:14px;">
                        <select class="select2 form-control input-sm" ng-model="filterItem" style="width:200px;">
                            <option value="{{item.id}}" ng-repeat="item in applicationList" ng-click="resetFilter(item)">{{ item.name }}</option>
                        </select>
                    </div>
                </legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th width="300px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr ng-repeat="item in moduleList">
                                <td>{{item.name}}</td>
                                <td>{{item.desc}}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm td-viewer" ng-click="edit(item)">
	                                    <i class="fa fa-users"></i>
	                                    <span>Edit</span>
	                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>