<div class="row content no-data-div" *ngIf="repos.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            No repositories found, please click button below to create your first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-btn" (click)="showNewRepo()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>New Repository</span>
            </button>
        </div>
    </div>
</div>
<div class="row" *ngIf="repos.length > 0">
    <h3 class="page-title">
        <strong>Repository </strong> - List
    </h3>
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <button type="button" class="btn btn-success btn-sm" style="float:right" (click)="showNewRepo()">
                        <i class="fa fa-plus"></i>
                        <span>New</span>
                    </button>
                </legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Image Tag</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr *ngFor="let repo of repos">
                                <td>{{repo.name}}</td>
                                <td>{{repo.url}}</td>
                                <td>{{repo.imagetag}}</td>
                                <td>
                                	<button type="button" class="btn btn-primary btn-sm td-viewer" (click)="showRepoDetail(repo.id)">
	                                    <i class="fa fa-users"></i>
	                                    <span>Teams</span>
	                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>