<div id="settinglist" class="row hidden-div">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <strong>System</strong> Settings
                    <button type="button" class="btn btn-primary savesystemsetting" style="float:right">
                        <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>
                        <span style="margin-left:5px">Save</span>
                    </button>
                </legend>
                <div class="list-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:50%">Key</th>
                                <th style="width:50%">Value</th>
                            </tr>
                        </thead>
                        <tbody class="settinglist_body">

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>