[database]
driver = "mysql"
host = "127.0.0.1"
port = 3306
user = "root"
password = "containerops_dockyard_password"
db = 'containerops_dockyard'

# Configs for daemon sub command
[web]
# Listen on https port
mode = 'https'
address = "127.0.0.1"
port = 443
cert = "PATH_TO_CERT_FILE"
key = "PATH_TO_KEY_FILE"
# Listen on Unix socket
# Listen on unix socket, only address is needed
# mode = "unix"
# address = "/var/run/dockyard.socket"

# Configs for storage path
[storage]
dockerv2 = "/tmp/dockerv2"
binaryv1 = "/tmp/binaryv1"
