[database]
driver = "mysql"
host = "127.0.0.1"
port = 3306
user = "root"
password = "containerops_dockyard_password"
db = 'containerops_dockyard'

# Configs for daemon sub command
[web]
address = "127.0.0.1"
port = 443
cert = "PATH_TO_CERT_FILE"
key = "PATH_TO_KEY_FILE"
