<h3 class="page-title" *ngIf="teams.length == 0">
    <a [routerLink]="['/organization']"><strong>Organization</strong></a> 
    <span><strong>{{" / " + org.name}}</strong></span> 
    &nbsp;&nbsp;
    <a [routerLink]="['/organization']"><i class="fa fa-reply-all" title="back"></i></a>
</h3>
<h3 class="page-title" *ngIf="teams.length > 0">
    <a [routerLink]="['/organization']"><strong>Organization</strong></a> 
    <span><strong>{{" / " + org.name}}</strong></span> 
    <span><strong>{{" / Team"}}</strong> - List</span> 
    &nbsp;&nbsp;
    <a [routerLink]="['/organization']"><i class="fa fa-reply-all" title="back"></i></a>
</h3>
<div class="row content no-data-div" *ngIf="teams.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            No team found in the organization, please click button below to create the first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-btn" (click)="showNewTeam()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>New Team</span>
            </button>
        </div>
    </div>
</div>
<div class="row" *ngIf="teams.length > 0">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <button type="button" class="btn btn-success btn-sm" style="float:right" (click)="showNewTeam()">
                        <i class="fa fa-plus"></i>
                        <span>New</span>
                    </button>
                </legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Authority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let team of teams">
                                <td>{{team.name}}</td>
                                <td>{{team.desc}}</td>
                                <td>{{team.auth}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>