<h3 class="page-title">
    <strong>Organization </strong> - List
</h3>
<div class="row content no-org-div" *ngIf="orgs.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            You don't belong to any organization, please click button below to create your first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-org-btn" (click)="showNewOrg()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>New Organization</span>
            </button>
        </div>
    </div>
</div>
<div class="row" *ngIf="orgs.length > 0">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <button type="button" class="btn btn-success btn-sm" style="float:right" (click)="showNewOrg()">
                        <i class="fa fa-plus"></i>
                        New
                    </button>
                </legend>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr *ngFor="let org of orgs">
                                <td>{{org.name}}</td>
                                <td>{{org.desc}}</td>
                                <td>
                                	<button type="button" class="btn btn-success btn-sm td-viewer" (click)="showOrgDetail(org.id)">
	                                    <i class="glyphicon glyphicon-eye-open"></i>
	                                    <span>View</span>
	                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>