[Unit]
Description=Etcd Server
After=network.target
#After=network-online.target
#Wants=network-online.target

[Service]
#Type=notify
Type=simple
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
#User=etcd
# set GOMAXPROCS to number of processors
#ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/etcd --name=\"${ETCD_NAME}\" --data-dir=\"${ETCD_DATA_DIR}\" --listen-client-urls=\"${ETCD_LISTEN_CLIENT_URLS}\""
ExecStart=/usr/bin/etcd

#Restart=on-failure
#LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
