<div class="app" #root="$implicit" dir="ltr" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar}">
  <md-toolbar class="main-header" color="primary">
    <button (click)="sidemenu.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
  </md-toolbar>

  <md-sidenav-container class="app-inner">
    <md-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (mouseover)="menuMouseOver()" (mouseout)="menuMouseOut()">
      <md-nav-list appAccordion class="navigation">
        <md-list-item appAccordionLink *ngFor="let menuitem of menuItems.getAll()" group="{{menuitem.state}}">
          <a appAccordionToggle class="relative" md-ripple [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>



</div>
