<h3 class="page-title">
  Application - <strong> {{action}} </strong> 
</h3>
<ul class="nav nav-tabs info-nav">
  <li ng-class="currentStep === 'baseInfo' ? 'active' : ''">
    <a href="javascript:void(0)" data-toggle="tab" ng-click="changeStep('baseInfo')">base info</a>
  </li>             
  <li ng-class="currentStep === 'setting' ? 'active' : ''">
    <a href="javascript:void(0)" data-toggle="tab" ng-click="changeStep('setting')">setting</a>
  </li>
</ul>
<div class="tab-content" id="projectInfo">
  <div id="tab1" class="tab-pane" ng-class="currentStep === 'baseInfo' ? 'active' : ''">
    <form role="form">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" placeholder="" ng-model="baseInfo.name">
      </div>
      <div class="form-group">
        <label for="desc">description</label>
        <input type="text" class="form-control" id="desc" placeholder="" ng-model="baseInfo.desc">
      </div>
      <div class="radio">
        <label class="mar-rt-twenty">
          <input type="radio" name="visiblity" ng-model="baseInfo.visible" value="public"> public
        </label>
        <label>
          <input type="radio" name="visiblity" ng-model="baseInfo.visible" value="private"> private
        </label>
      </div>
      <button class="btn btn-info" ng-click="saveBaseInfo()">save</button>
    </form>
  </div>
  <div id="tab2" class="tab-pane" ng-class="currentStep === 'setting' ? 'active' : ''">
    <div class="row">
      <div class="org-info">
        <span class="org-name" ng-click="isShowOrgs = !isShowOrgs">{{currentOrg.name}}<i class="fa fa-angle-down org-down"></i></span>
        <ul class="all-orgizations" ng-if="isShowOrgs">
          <li class="item-org" ng-repeat="item in projectList" ng-click="getCurrentOrg(item)">{{item.name}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <ul class="col-xs-3 all-teams" ng-class="teamList.length>0? 'bg-grey': ''">
        <li class="item-team" ng-repeat="item in teamList" ng-class="item.isChosed?'bg-chosed':'bg-nochosed'" ng-click="choseTeam(item)">{{item.name}}</li>
      </ul>
      <div class="col-xs-4 col-xs-offset-1 limit">
        <span class="space" ng-click="getRole(0)">Admin</span>
        <span class="space" ng-click="getRole(1)">Readonly</span>
        <span class="space" ng-click="getRole(2)">ReadWrite</span>
      </div>
      <ul class="col-xs-3 col-xs-offset-1 role-teams" ng-class="roleTeams.length>0? 'bg-grey': ''">
        <li class="item-role" ng-repeat="item in roleTeams">
          <h5 class="role-name">{{item.role}}</h5>
          <p class="role-team" ng-repeat="team in item.teams">{{team.name}}</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 save-setting" ng-click="saveSetting()">save</div>
    </div>
  </div>
</div>