# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dev
/tmp
/css/

# dependencies
/node_modules
/bower_components
 

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#.editorconfig
#angular-cli-build.js
#angular-cli.json
#config/
#e2e/
#package.json
#public/
#src/
#tslint.json
#typings.json
