

    <fieldset>
        <legend><strong>Action bipartite</strong> setup</legend>
        <input type="button" id="removeLine" value="remove line" />
        <div class="row" style="position:relative;">
            <svg id="bipatiteLineSvg" class="relation-svg" style="">
                
            </svg>
            <div class="col-md-2 import-div">
                <h4 class="pr">Import</h4>
                <div id="importDiv" class="json-editor"></div>
            </div>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-4">
                <h4 class="pr">Output</h4>
                <div id="outputDiv" class="json-editor"></div>
            </div>
        </div>
    </fieldset>
   

