<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>biPartite</title>
	<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;

}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node rect{
  fill:#fff;
  stroke: #636363;
  stroke-width: 1.5px;
}
.children.node rect{
  stroke:red;
}
</style>
</head>
<body>
	<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
(function(){

var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = Math.max(document.documentElement.clientWidth,960)- margin.right - margin.left,
    height = document.documentElement.clientHeight - margin.top - margin.bottom,
    i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var zoom = d3.behavior.zoom()
    .on("zoom", zoomed);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .on("touchstart", nozoom)
    .on("touchmove", nozoom)
    .call(zoom)
    .on("dblclick.zoom", null),

    leftSvg = svg.append("g")
    .attr("class","left-svg"),

    rightSvg = svg.append("g")
    .attr("class","right-svg");


d3.json("/js/simple-flare.json", function(error, flare) {
  if (error) throw error;
  
  var start = {name : "start",children:[]};


  for(var key in flare){
    start.children.push({name:key,value:flare[key]});
  }

  update(leftSvg,start);
});

function update(rootsvg,source) {
  rootsvg.selectAll("*").remove();
  // Compute the new tree layout.
  source.x0 = height / 2;
  source.y0 = 0;
  var nodes = tree.nodes(source).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { 
    var tmp = 1;
    d.y = tmp * d.depth * 180; 
  });

  // Update the nodes…
  var node = rootsvg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
    
      .attr("transform", function(d) { 
        return "translate(" + source.y0 + "," + source.x0 + ")"; 
      })
      .attr("class",function(d){
        return isObject(d.value) || isArray(d.value) ? "node children" : "node";
      })
      .on("click", click);

  
  nodeEnter.append("rect")
      .attr("x",-30)
      .attr("y", -10)
      .attr("height",20);


  nodeEnter.append("text")
      .attr("x", 10)
      .attr("dy", ".35em")
      .attr("text-anchor", "start")
      .text(function(d) { 
        return d.name; 
      })
      .each(function(d){
        d.width = Math.max(32, this.getComputedTextLength() + 12); 
      })
      .style("fill-opacity", 1e-6);


  nodeEnter.select("rect")
  .attr("width",function(d){return d.width})
  .attr("x",function(d){return 0});


  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  
  var link = rootsvg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  
}

// Toggle children on click.
function click(d) {
  var source = {};


  if(d.depth == 0 && d.parent != undefined){

    update(leftSvg,d.parent);
    
  }else if(isObject(d.value) || isArray(d.value) ){
    source.name = d.name;
    source.parent = d.parent;
    source.children = [];

    for(key in d.value){
      source.children.push({name:key,value:d.value[key]})
    }
    update(leftSvg,source);
  }

  
  
}


function zoomed() {
    leftSvg.attr("transform", "translate(" + d3.event.translate+ ") scale(" + d3.event.scale + ")");
}
function nozoom() {
    d3.event.preventDefault();
}

function isObject(o) { return Object.prototype.toString.call(o) == '[object Object]'; }
function isArray(o) { return Object.prototype.toString.call(o) == '[object Array]'; }
function isBoolean(o) { return Object.prototype.toString.call(o) == '[object Boolean]'; }
function isNumber(o) { return Object.prototype.toString.call(o) == '[object Number]'; }
function isString(o) { return Object.prototype.toString.call(o) == '[object String]'; }



})();


</script>
</body>
</html>