<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form id="stage-form" class="form-horizontal cursor-default" role="form">
                    <fieldset>
                        <legend><strong>Action bipartite</strong> setup</legend>
                        <div class="widget-controls">
                            <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
                            <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                        </div>
                        
                        <div class="tree-tips">
                            <div class="tree-icon-desc-item" style="margin-left:0;">
                                <div class="tree-icon icon-s"></div>
                                <div class="tree-icon-label">String</div>
                            </div>
                             <div class="tree-icon-desc-item">
                                <div class="tree-icon icon-o"></div>
                                <div class="tree-icon-label">Object</div>
                            </div>
                            <div class="tree-icon-desc-item">
                                <div class="tree-icon icon-n"></div>
                                <div class="tree-icon-label">Number</div>
                            </div>
                            <div class="tree-icon-desc-item">
                                <div class="tree-icon icon-a"></div>
                                <div class="tree-icon-label">Array</div>
                            </div>
                            <div class="tree-icon-desc-item">
                                <div class="tree-icon icon-b"></div>
                                <div class="tree-icon-label">Boolean</div>
                            </div>
                            <div class="tree-icon-desc-item">
                                <div class="tree-icon icon-none"></div>
                                <div class="tree-icon-label">Null</div>
                            </div>
                        </div>
                        
                        <div class="tree-wrap" style="overflow:hidden;">
                            <input type="button" id="refreshRelation" value="Refresh Relation" class="btn btn-success"/>
                            <input type="button" id="removeLine" value="Remove Relation Line" class="btn btn-inverse hide"/>
                            
                            <div class="tree-container">
                                <div class="tree-bg-left">
                                    <h4 class="pr">
                                        <i class="glyphicon glyphicon-cloud-upload inputicon"></i>
                                        Import
                                    </h4>
                                </div>
                                <div class="tree-bg-right">
                                    <h4 class="pr">
                                        <i class="glyphicon glyphicon-cloud-download outputicon"></i>
                                        Output
                                    </h4>
                                </div>

                                <div class="row treeview" onselectstart="return false;">
                                    <svg id="bipatiteLineSvg" class="relation-svg"></svg>
                                    <div class="col-md-2 import-div">
                                        <div id="importDiv" class="json-editor">
                                            no data
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div id="outputDiv" class="json-editor">
                                            no data
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                            
                        
                    </fieldset>
                </form>
            </div>
        </section>

    <div id="demoTree"></div>


    </div>
</div>