<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form id="stage-form" class="form-horizontal" role="form">
                    <fieldset>
                        <legend><strong>Stage</strong> setup</legend>
                        <div class="widget-controls">
                            <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
                            <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hint-field" class="col-sm-3 control-label">Stage Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="stage-name" name="stage-name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hint-field" class="col-sm-3 control-label">Stage Timeout</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="stage-timeout" name="stage-timeout" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="normal-field" class="col-sm-3 control-label">Stage Env</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="stage-env" name="stage-env" class="form-control"
                                                       placeholder="srcPath=./;buildPath=../">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="normal-field" class="col-sm-3 control-label">Callback URL</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="stage-callback-url" name="stage-callback-url" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>