<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form id="stage-form" class="form-horizontal" role="form">
                    <fieldset>
                        <legend><strong>Start Workflow</strong></legend>
                        <div class="widget-controls">
                            <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
                            <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                        </div>
                        <div class="row col-md-12">
                            <div class="row col-md-6">
                                <label class="col-md-4 control-label" for="pp-url">Workflow URL</label>
                                <div class="col-md-7">
                                    <input id="pp-url"  class="form-control" readonly>
                                </div>
                                <i class="fa fa-copy" id="copyUrl" title="copy url" data-clipboard-action="copy" data-clipboard-target="#pp-url"></i>
                            </div>
                            <div class="row col-md-6">
                                <label class="col-md-4 control-label" for="pp-token">Workflow Token</label>
                                <div class="col-md-7">
                                    <input id="pp-token" class="form-control" readonly>
                                </div>
                                <i class="fa fa-copy" id="copyToken" title="copy token" data-clipboard-action="copy" data-clipboard-target="#pp-token"></i>
                            </div>
                        </div>
                        <div class="col-md-12 import-div" style="margin-top:20px">
                            <div class="panel">
                                <div class="panel-heading clearfix">
                                    <i class="glyphicon glyphicon-cloud-download outputicon"></i>
                                    <span class="panel-title">Outputs</span>
                                    <button type="button" class="btn btn-success newStartOutput">
                                        <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>
                                        <span style="margin-left:5px">New Output</span>
                                    </button>
                                    <button type="button" class="btn btn-inverse deleteStartOutput">
                                        <i class="glyphicon glyphicon-minus" style="font-size:16px"></i>
                                        <span style="margin-left:5px">Delete Selected Output</span>
                                    </button>
                                    <span class="panel-subtitle">All outputs of start stage</span>
                                </div>
                                <div class="panel-body input-panel-body">
                                    <div class="tabbable tabs-left mb-lg">
                                        <ul id="startOutputTabs" class="nav nav-tabs">
                                        </ul>
                                        <div id="startOutputTabsContent" class="tab-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>   
            </div>
        </section>
    </div>
</div>