<div class="auth-block">
  <h1>Sign in to ContainerOps</h1>

  <form name="LoginForm" novalidate class="form-horizontal">
    <div class="form-group">
      <label for="usernameInput" class="col-sm-3 control-label">User Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="usernameInput" placeholder="User name or Email" [(ngModel)]="user.username" autocomplete="off" (keyup.enter)="login()">
        </div>
    </div>
    <div class="form-group">
      <label for="passwordInput" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
          <input type="password" class="form-control" name="passwordInput" placeholder="Password" [(ngModel)]="user.password" autocomplete="off" (keyup.enter)="login()">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default btn-auth" (click)="login()">Sign in</button>
            <a [routerLink]="['/register']" routerLinkActive="active" class="forgot-pass">New to ContainerOps? Sign up!</a>
        </div>
    </div>
  </form>
</div>