<div class="auth-block">
	<h1>Sign up to ContainerOps</h1>

	<form name="signupForm" novalidate class="form-horizontal">
		<div class="form-group">
			<label for="usernameInput" class="col-sm-3 control-label">User Name</label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" name="usernameInput" placeholder="User name or Email" [(ngModel)]="user.username" autocomplete="off" (keyup.enter)="signUp()">
		    </div>
		</div>
		<div class="form-group">
			<label for="passwordInput" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
		    	<input type="password" class="form-control" name="passwordInput" placeholder="Password" [(ngModel)]="user.password" autocomplete="off" (keyup.enter)="signUp()">
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
		    	<button type="button" class="btn btn-default btn-auth" (click)="signUp()" ng-disabled="signupForm.$invalid">Sign up</button>
		        <a [routerLink]="['/login']" routerLinkActive="active" class="forgot-pass">Have account? Sign in!</a>
		    </div>
		</div>
	</form>
</div>