legend{
  height: 35px;
}
.bg-primary {
  background-color: #5d8fc2; 
}
.bg-info {
  background-color: #5dc4bf; 
  box-shadow: #fff 0px 0px 2px 2px;
  border:1px solid #5dc4bf;
}
.bg-gray {
  background-color: #eee; 
  box-shadow: #fff 0px 0px 3px 2px;
  border:1px solid #ddd;
}
.text-white{
  color: #fff;
}
.text-gray{
  color: #bbb;
}
.step-actived{
	@extend .bg-info;
	@extend .text-white;
}
.step-todo{
	@extend .bg-gray;
	@extend .text-gray;
}
input.ng-invalid.ng-touched {
    border: 1px solid #dd5826;
}
.form-error{
  color:#dd5826;
  font-size: 12px;
}