<div class="d3-design" #design></div>
<br/><br/>
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="75%" fxFlex="100">
    <md-card style="color:cyan;  background-color: #000000; min-height: 500px; max-height:500px; overflow: scroll; ">
      <md-card-title style="color:cyan; font-size:20px; background-color: #000000">Log</md-card-title>
        <md-card-content style="color:cyan; font-size:18px; background-color: #000000;" >
          <label *ngFor="let log of nowLogs"> {{log}}<br/></label>
        </md-card-content>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25%" fxFlex="100">
      <md-card>
        <md-card-title>Run Info</md-card-title>
            <md-card-content>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Tab Label" value="tab.label">
              </md-input-container><br/>
            </md-card-content>
      </md-card>
  </div>
</div>
