<div class="h5 row org-path">
    <a [routerLink]="['/team']">Team</a>
    <span>/</span>
    <span>{{team.name}}</span>        
</div> 
<!-- <div class="row" *ngIf="teams.length > 0" style="margin-top:30px">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <strong>Team</strong> List
                    <button type="button" class="btn btn-success" style="float:right" (click)="showNewTeam()">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>New</span>
                    </button>
                </legend>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let team of teams">
                                <td>{{team.name}}</td>
                                <td>{{team.desc}}</td>
                                <td>
                                    <button type="button" class="btn btn-success td-viewer" (click)="showTeamDetail(team.id)">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        <span>View</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div> -->