<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="ac-discovery" content="{{.Domains}} https://{{.Domains}}/appc/{{.Namespace}}/{{.Repository}}/fetch/{{.Repository}}-{version}-{os}-{arch}.{ext}">
    <meta name="ac-discovery-pubkeys" content="{{.Domains}} https://{{.Domains}}/pubkeys">
    <meta name="ac-push-discovery" content="{{.Domains}} https://{{.Domains}}/appc/{{.Namespace}}/{{.Repository}}/push/{{.Repository}}-{version}-{os}-{arch}.{ext}">
  </head>
</html>
