<div class="row">
	<div class="col-lg-12">
		<section class="widget">
			<div class="widget-body">
				<fieldset>
					<legend id="actionHistoryTitle"></legend>
					<div class="widget-controls">
						<a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
						<a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
					</div>
					<div class="col-lg-12">
						<div class="clearfix">
							<ul class="nav nav-tabs pull-xs-left" id="actionTabs" role="tablist" style="background-color:#f7f7f7">
								<li class="nav-item">
									<a class="nav-link active " id="resultlog-tab" data-toggle="tab" href="#resultlog" role="tab" aria-controls="resultlogs" aria-expanded="false">
										<span>Result Logs</span>
										<i class="arrow arrow-left"></i>
										<i class="arrow arrow-right"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="containerLog-tab" data-toggle="tab" href="#containerLog" role="tab" aria-controls="resultlogs" aria-expanded="false">
										<span>Container Logs</span>
										<i class="arrow arrow-left"></i>
										<i class="arrow arrow-right"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="evnLog-tab" data-toggle="tab" href="#evnLog" role="tab" aria-controls="logs" aria-expanded="false">
										<span>Event Status</span>
										<i class="arrow arrow-left"></i>
										<i class="arrow arrow-right"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="stream-tab" data-toggle="tab" href="#stream" role="tab" aria-controls="stream" aria-expanded="false">
										<span>Action Stream Data</span>
										<i class="arrow arrow-left"></i>
										<i class="arrow arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="tab-content mb-lg" id="actionTabsContent" class="historyActionTabsContent">
						   
							<div class="tab-pane active" id="resultlog" role="tabpanel" aria-labelledby="resultlogs-tab-tab" aria-expanded="false">
								<div class="showBox">
									<table class="table table-striped" >
										<thead>
											<tr>
											<th> </th>
											<th> </th>
											</tr>
										</thead>
										<tbody id="resultLog_list"></tbody>
							    </table>
								</div>
							</div>

							<div class="tab-pane" id="containerLog" role="tabpanel" aria-labelledby="logs-tab" aria-expanded="false">
								<table class="table">
									<thead>
										<tr>
											<th>Time</th>
											<th>Stream</th>
											<th>Log</th>
										</tr>
									</thead>
									<tbody id="item-containerLog">
										
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="evnLog" role="tabpanel" aria-labelledby="logs-tab" aria-expanded="false">
								<table id="logs-table" class="table ">
									<thead>
										<tr>
											<th></th>
											<th>Time</th>
											<th>Event</th>
											<th>EVENT_ID</th>
											<th>RUN_ID</th>
											<th>INFO_STATUS</th>
											<!-- <th>INFO_RESULT</th> -->
											<th>DETAILS</th>
										</tr>  
									</thead>
									<tbody id="logs-tr"></tbody>
								</table>
							</div>


							<div role="tabpanel" class="tab-pane clearfix" id="stream" aria-labelledby="stream-tab" aria-expanded="true">
								<div class="row">
									<div class="col-md-6 import-div">
										<div class="panel">
											<div class="panel-heading input-panel-heading">
												<i class="glyphicon glyphicon-cloud-upload inputicon"></i>
												<span class="panel-title">Show Input</span>
											</div>
											<div class="panel-body input-panel-body" style="min-height:500px;padding:10px">
												<textarea class="advanced-service-textarea" id="action-input-stream" disabled></textarea>
											</div>
										</div>
									</div>
									<div class="col-md-6 import-div">
										<div class="panel">
											<div class="panel-heading clearfix">
												<i class="glyphicon glyphicon-cloud-download outputicon"></i>
												<span class="panel-title">Show Output</span>
											</div>
											<div class="panel-body" style="min-height:500px;padding:10px">
												<textarea class="advanced-service-textarea" id="action-output-stream" disabled></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</section>
	</div>
</div>

<div id="dialog" class="mcover">
	<div class="dialogWindow">
		<button id="detailClose" type="button" class="close" ><span class="glyphicon glyphicon-remove-circle"></span></button> 
		<div class="dialogContant"></div>      
	</div> 
</div>
