<div id="historyView" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-1">
            <span class="btn backtolist" title="back to list"></span>
        </div>
        <div class="col-md-7">
            <div id="selected_workflow" style="font-size:1.2em;margin-top:0.6em;float:left"></div>
        </div>         
    </div> 
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                        <span class="glyphicon glyphicon-option-horizontal designer-split" draggable="true"></span>
                    </h5>
                </header>
                <div class="widget-body" id="workflow-info-edit">
                </div>    
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                    </h5>
                </header>
                <div class="widget-body" id="history-workflow-detail">
                </div>    
            </section>
        </div>
    </div>
</div>