<div id="historyPipelinelist" class="row hidden-div">
		<div class="col-lg-12">
				<section class="widget">
						<div class="widget-body">
								<div>
										<div class="state-desc">
												<div class="state-icon-desc state-fail"></div>
												<span class="state-label-desc">Fail To Run</span>
										</div>
										<div class="state-desc">
												<div class="state-icon-desc state-success"></div>
												<span class="state-label-desc">Succeed To Run</span>
										</div>
										<div class="state-desc">
												<div class="state-icon-desc state-norun"></div>
												<span class="state-label-desc">Not Run Yet</span>
										</div>
										<table class="table">
												<thead>
													<tr>
														<th>Pipeline Name</th>
														<th>Version</th>
														<th>State</th>
														<th>Operation</th>
													</tr>
												</thead>
												<tbody class="pipelinelist_body">
												</tbody>
										</table>
								</div>
						</div>
				</section>
		</div>
</div>
