<div class="row col-md-offset-4 col-md-8 form-horizontal">
    <label class="col-md-4 control-label" for="action-component-select">Select Component</label>
    <div class="col-md-8">
        <select id="action-component-select" style="width:100%">
            <option value="Kubernetes">Kubernetes</option>
        </select>
    </div>
</div>
<div class="col-lg-12">
    <div class="clearfix">
        <ul class="nav nav-tabs pull-xs-left" id="actionTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base" aria-expanded="false">Base Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="input-output-tab" data-toggle="tab" href="#input_output" role="tab" aria-controls="input_output" aria-expanded="true">Input &amp; Output</a>
            </li> 

        </ul>
    </div>
    <div class="tab-content mb-lg" id="actionTabsContent">
        <div role="tabpanel" class="tab-pane clearfix active" id="base" aria-labelledby="base-tab" aria-expanded="true">
            <form id="action-form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="hint-field" class="col-sm-3 control-label">
                                    Action Name
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="action-name" name="action-name" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="hint-field" class="col-sm-3 control-label">
                                    Action Timeout
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="action-timeout" name="action-timeout" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    Image
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-pod-image" name="k8s-pod-image" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    Kubernetes IP
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-ip" name="k8s-ip" class="form-control" required pattern="/((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))/">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    Service Port
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-service-port" name="k8s-service-port" class="form-control" required pattern="/^([0-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    CPU Limits
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-cpu-limits" name="k8s-cpu-limits" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    CPU Requests
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-cpu-requests" name="k8s-cpu-requests" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    Memory Limits
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-memory-limits" name="k8s-memory-limits" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-3 control-label">
                                    Memory Requests
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="k8s-memory-requests" name="k8s-memory-requests" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                 <div class="row">
                    <button type="button" class="btn btn-primary" id="k8s-advanced">
                        <i class="glyphicon glyphicon-chevron-down"></i>&nbsp;&nbsp;Advanced Settings
                    </button>
                    <button type="button" class="btn btn-primary" style="display:none" id="close-k8s-advanced">
                        <i class="glyphicon glyphicon-chevron-up"></i>&nbsp;&nbsp;Close Advanced Settings
                    </button>
                </div>
                <br/>
                <div class="row" style="display:none">
                    <div id="advanced" style="width: 100%;height:500px"></div>
                </div>
            </fieldset>
                <br/>
                <div class="form-actions">
                    <div class="row">
                        <div style="float:right">
                            <input type="hidden" id="uuid" name="uuid" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="input_output" role="tabpanel" aria-labelledby="input_output-tab" aria-expanded="false">
         <div class="clearfix">
            <ul class="nav nav-tabs pull-xs-left" id="actionTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tree-edit-tab" data-toggle="tab" href="#tree_edit" role="tab" aria-controls="tree_edit" aria-expanded="false">Tree Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="input-from-edit-tab" data-toggle="tab" href="#input_from_edit" role="tab" aria-controls="input_from_edit" aria-expanded="true">Input From Edit</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" id="output-from-edit-tab" data-toggle="tab" href="#output_from_edit" role="tab" aria-controls="output_from_edit" aria-expanded="true">Output From Edit</a>
                </li> 
            </ul>
        </div>
        <div class="tab-content">


           <div class="row tab-pane active" id="tree_edit" class="tab-pane" role="tabpanel" aria-labelledby="tree-edit-tab" aria-expanded="true">
            <div class="col-md-6 import-div">
                <h4 class="pr">Input Tree</h4>

                <div id="inputTreeDiv" class="json-editor"></div>
            </div>
            <div class="col-md-6 import-div">
                <h4 class="pr">Output Tree</h4>
                
                <div id="outputTreeDiv" class="json-editor"></div>
            </div>
        </div>


        <div class="row tab-pane" id="input_from_edit" class="tab-pane" role="tabpanel" aria-labelledby="input-from-edit-tab" aria-expanded="false">
            <div class="col-md-5">
                <div id="inputCodeEditor" style="width: 100%;height:300px"></div>
            </div>
            <div class="col-md-1">
                <button id="inputFromJson" type="button" class="btn btn-warning col-md-12">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                </button>
                <br/>
                <button id="inputToJson" type="button" class="btn btn-warning col-md-12" style="margin-top:10px">
                    <i class="glyphicon glyphicon-triangle-left"></i>
                </button>
            </div>
            <div class="col-md-6">
                <div id="inputTreeEditor" style="width: 100%;height:300px"></div>
            </div>
        </div>

        <div class="row tab-pane" id="output_from_edit" class="tab-pane" role="tabpanel" aria-labelledby="output-from-edit-tab" aria-expanded="false">
            <div class="col-md-5">
                <div id="outputCodeEditor" style="width: 100%;height:300px"></div>
            </div>
            <div class="col-md-1">
                <button id="outputFromJson" type="button" class="btn btn-warning col-md-12">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                </button>
                <br/>
                <button id="outputToJson" type="button" class="btn btn-warning col-md-12" style="margin-top:10px">
                    <i class="glyphicon glyphicon-triangle-left"></i>
                </button>
            </div>
            <div class="col-md-6">
                <div id="outputTreeEditor" style="width: 100%;height:300px"></div>
            </div>
        </div>
    </div>
</div>

</div>
</div>