<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                    <fieldset>
                        <legend><strong>Action</strong> setup</legend>
                        <div class="widget-controls">
                            <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
                            <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                        </div>
                        <div class="row mb-lg treeview col-md-12" id="actionMain">
                            <div class="col-md-6" style="text-align:center;">
                                <button type="button" class="btn btn-warning actionfromcomponent" style="padding:20px 40px; font-size:20px">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;&nbsp;Use Component
                                </button>
                            </div>
                            <div class="col-md-6" style="text-align:center;">
                                <button type="button" class="btn btn-success actionnocomponent" style="padding:20px 40px; font-size:20px">
                                    <i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Use Service
                                </button>
                            </div>
                        </div>
                    </fieldset>  
            </div>
        </section>
    </div>
</div>