<div>
    <div class="chooseComponentHeader input-group">
        <input class="form-control component-filter-input">
        <span class="input-group-btn" id="searchComponent">
            <button type="button" class="btn btn-primary">Search</button>
        </span>
    </div>
    
    <button type="button" class="btn btn-success newcomponent" style="float:right">
        <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>
        <span style="margin-left:5px">New Component</span>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Component Name</th>
                <th>Version</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="componentlist_body">
        </tbody>
    </table>
</div>