<div id="componentdesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-1">
            <span class="glyphicon glyphicon-backward btn backtolist" title="back to list"></span>
        </div>
        <div class="col-md-3 row">
            <div id="selected_component" style="font-size:1.2em;margin-top:0.6em"></div>
        </div> 
        <div class="col-md-8" style="margin-top:-0.6em">
            <div style="float:right" class="btn-toolbar row">
                <button type="button" class="btn btn-primary savecomponent">
                    <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>&nbsp;&nbsp;Save Changes
                </button>
                <button type="button" class="btn btn-inverse newcomponentversion">
                    <i class="fa fa-history" style="font-size:16px"></i>&nbsp;&nbsp;Save As New Version
                </button>
                <button type="button" class="btn btn-success newcomponent">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>&nbsp;&nbsp;New Component
                </button>
            </div>
        </div>         
    </div> 
    <div class="row" id="componentDesigner"></div>
</div>