<div id="componentdesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-1">
            <span class="btn backtolist" title="back to list"></span>
        </div>
        <div class="col-md-3 row">
            <div id="selected_component" style="font-size:1.2em;margin-top:0.6em"></div>
        </div> 
        <div class="col-md-8" style="margin-top:-0.6em">
            <div style="float:right" class="btn-toolbar row">
                <div class="btn-group">
                    <button class="btn btn-primary" data-toggle="dropdown" data-original-title="" title="" aria-expanded="false">
                        <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>
                        <span style="margin:0 5px">Save</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item savecomponent">Save</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item newcomponentversion">Save As New Version</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-success newcomponentindesigner">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>
                    <span style="margin-left:5px">New Component</span>
                </button>
            </div>
        </div>         
    </div> 
    <div class="row" id="componentDesigner"></div>
</div>