<div id="nocomponent" class="row content hidden-div">
    <div class="row col-md-12" style="font-size:20px">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center">
            <div>
            You have no component, please click button below to create your first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success newcomponent" style="padding:20px 40px; font-size:26px">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;New Component
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>