<h3 class="page-title">
    <a [routerLink]="['/team']"><strong>Team</strong></a>
    <span>{{" - " + team.name}}</span>   
</h3>
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    Add Member to {{team.name}}
                    <button type="button" class="btn btn-inverse btn-sm pull-right pull-right" (click)="cancelAdd()">
                        <i class="fa fa-reply"></i> Cancel
                    </button>
                    <button type="button" class="btn btn-success btn-sm pull-right" style="margin-right:10px;" (click)="addMember(team.id)">
                        <i class="fa fa-save"></i> Add
                    </button>
                </legend>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox abc-checkbox abc-checkbox-primary">
                                    <input id="select-all" class="styled" type="checkbox">
                                    <label for="select-all">
                                    </label>
                                </div>
                            </th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let user of users; let i = index">
                            <td>
                              <div class="checkbox abc-checkbox abc-checkbox-primary">
                                    <input id="{{ i }}" class="styled" type="checkbox" value="{{ user.username }}" (click)="toggleMember($event, user.username)">
                                    <label [attr.for]="i">
                                    </label>
                                </div>
                            </td>
                            <td>{{"#" + (i+1) }}</td>
                            <td>{{ user.username }}</td>
                            <td><span class="label label-danger">Online</span></td>
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </section>
    </div>
</div>
