<h3 class="page-title">
    <strong>Team </strong> - Create Team
</h3>
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form id="newteam-form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate">
                    <fieldset>
                        <legend>Create Team Form</legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Select Organization</label>
                                    <div class="col-sm-6">
                                        <select class="select2 form-control" [(ngModel)]="team.org.id" name="teamOrg">
                                            <option value="{{org.id}}" *ngFor="let org of orgs">{{ org.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="normal-field" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="teamName" placeholder="Team name" [(ngModel)]="team.name" autocomplete="off" (keyup.enter)="addTeam()" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hint-field" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="teamDesc" placeholder="Team Description" [(ngModel)]="team.desc" autocomplete="off" (keyup.enter)="addTeam()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hint-field" class="col-sm-3 control-label">Authority</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox abc-checkbox abc-checkbox-primary checkbox-inline" style="margin-right:15px;">
                                            <input id="auth-read" class="styled" type="checkbox" [(ngModel)]="auth.read" [ngModelOptions]="{standalone: true}">
                                            <label for="auth-read">Read
                                            </label>
                                        </div>
                                        <div class="checkbox abc-checkbox abc-checkbox-primary checkbox-inline" style="margin-right:15px;">
                                            <input id="auth-write" class="styled" type="checkbox" [(ngModel)]="auth.write" [ngModelOptions]="{standalone: true}">
                                            <label for="auth-write">Write
                                            </label>
                                        </div>
                                        <div class="checkbox abc-checkbox abc-checkbox-primary checkbox-inline">
                                            <input id="auth-admin" class="styled" type="checkbox" [(ngModel)]="auth.admin" [ngModelOptions]="{standalone: true}">
                                            <label for="auth-admin">Admin
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn btn-primary btn-sm" (click)="addTeam()">
                                    <i class="fa fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-inverse btn-sm" (click)="cancelAdd()">
                                    <i class="fa fa-reply"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
