<h3 class="page-title">
    <strong>Team </strong> - List
</h3>
<div class="row content no-team-div" *ngIf="teams.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            You have no team, please click button below to create the first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-team-btn" (click)="showNewTeam()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>New Team</span>
            </button>
        </div>
    </div>
</div>
<div class="row" *ngIf="teams.length > 0">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <!-- <strong>Team</strong> List -->
                    <button type="button" class="btn btn-success btn-sm pull-right" (click)="showNewTeam()">
                        <i class="fa fa-plus"></i>
                        New
                    </button>
                </legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Organization</th>
                                <th>Authority</th>
                                <th width="30%">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr *ngFor="let team of teams">
                                <td>{{team.name}}</td>
                                <td>{{team.desc}}</td>
                                <td>{{team.org.name}}</td>
                                <td>{{team.auth}}</td>
                                 <td>
                                	<button type="button" class="btn btn-primary btn-sm" (click)="manageMembers(team.id)">
                                        <i class="fa fa-users"></i>
	                                     Members
	                                </button>
                                    <button type="button" class="btn btn-info btn-sm" (click)="manageAuth(team.id)">
                                        <i class="fa fa-unlock-alt"></i>
                                        Atuhority
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" >
                                        <i class="fa fa-database"></i>
                                        Repository
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>