<div class="col-lg-12">
    <span class="glyphicon glyphicon-remove close-env" style="font-size:16px;float:right"></span>
    <br/>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th><span class="glyphicon glyphicon-plus new-kv"></span></th>
                </tr>
            </thead>
            <tbody id="envs">
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row" style="text-align:center">
        <button type="button" class="btn btn-primary save-env">
            <i class="glyphicon glyphicon-floppy-disk" style="font-size:12px"></i>&nbsp;&nbsp;Save Env
        </button>
    </div>
</div>