<div id="pipelinedesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-1">
            <span class="glyphicon glyphicon-backward btn backtolist" title="back to list"></span>
        </div>
        <div class="col-md-5 row">
            <div id="selected_pipeline" style="font-size:1.2em;margin-top:0.6em;float:left"></div>
            <button type="button" class="btn btn-primary runpipeline" style="float:left;margin-left:20px">
                <i class="glyphicon glyphicon-play" style="font-size:16px"></i>&nbsp;&nbsp;Run
            </button>
            <button type="button" class="btn btn-danger stoppipeline" style="float:left;margin-left:10px">
                <i class="glyphicon glyphicon-stop" style="font-size:16px"></i>&nbsp;&nbsp;Stop
            </button>
        </div> 
        <div class="col-md-6" style="margin-top:-0.6em">
            <div style="float:right" class="btn-toolbar row">
                <div class="btn-group">
                    <button class="btn btn-primary" data-toggle="dropdown" data-original-title="" title="" aria-expanded="false">
                        <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>
                        &nbsp; Save &nbsp;
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item savepipeline">Save</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item newpipelineversion">Save As New Version</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-inverse">
                    <i class="fa fa-history" style="font-size:16px"></i>&nbsp;&nbsp;Log History
                </button>
                <button type="button" class="btn btn-success newpipelineindesigner">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>&nbsp;&nbsp;New PipeLine
                </button>
                <button type="button" class="btn btn-warning envsetting">
                    <i class="glyphicon glyphicon-cog" style="font-size:16px"></i>&nbsp;&nbsp;Env Setting
                </button>
            </div>
        </div>         
    </div> 
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                    </h5>
                </header>
                <div class="widget-body" id="pipeline-info-edit">
                </div>    
            </section>
        </div>
    </div>
</div>