<div id="pipelinedesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-1">
            <span class="glyphicon glyphicon-backward btn backtolist" title="back to list"></span>
        </div>
        <div class="col-md-3 row">
            <div id="selected_pipeline" style="font-size:1.2em;margin-top:0.6em"></div>
        </div> 
        <div class="col-md-8" style="margin-top:-0.6em">
            <div style="float:right" class="btn-toolbar row">
                <button type="button" class="btn btn-primary newpipelineversion">
                    <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>&nbsp;&nbsp;Save New Version
                </button>
                <button type="button" class="btn btn-inverse">
                    <i class="fa fa-history" style="font-size:16px"></i>&nbsp;&nbsp;Log History
                </button>
                <button type="button" class="btn btn-success newpipeline">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>&nbsp;&nbsp;New PipeLine
                </button>
                <button type="button" class="btn btn-warning envsetting">
                    <i class="glyphicon glyphicon-cog" style="font-size:16px"></i>&nbsp;&nbsp;Env Setting
                </button>
            </div>
        </div>         
    </div> 
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                    </h5>
                </header>
                <div class="widget-body" id="pipeline-info-edit">
                </div>    
            </section>
        </div>
    </div>
</div>