<div class="col-lg-12">
    <span style="font-size:16px;float:right">Global Variable Setting</span>
    <br/>
    <div id="vars">
    </div>
    <div class="row" style="margin-top:30px">
        <button type="button" class="btn btn-success add-var" style="margin-left:20px">
            <i class="glyphicon glyphicon-plus" style="font-size:12px"></i>
            <span style="margin-left:5px">Add Var</span>
        </button>
        <button type="button" class="btn btn-primary save-var" style="margin-left:20px">
            <i class="glyphicon glyphicon-floppy-disk" style="font-size:12px"></i>
            <span style="margin-left:5px">Save Var</span>
        </button>
    </div>
</div>