<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <fieldset>
                    <legend><strong>Workflow</strong> setting</legend>
                    <div class="widget-controls">
                        <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-fullscreen"></i></a>
                        <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="col-sm-1 switch-on switch-numof-running-instances"></span>
                                <label for="hint-field" class="col-sm-3 control-label" style="margin-top:7px">Number of running instances</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:15px" id="numof-running-instances-div">
                            <div class="col-sm-4" style="margin-left:55px">
                                <input type="number" id="numof-running-instances" name="numof-running-instances" class="form-control" min="1" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="col-sm-1 switch-on switch-timed-task"></span>
                                <label for="hint-field" class="col-sm-3 control-label" style="margin-top:7px">Timed Task</label>
                                <button type="button" class="btn btn-success new-timed-task" style="float:right">
                                    <i class="glyphicon glyphicon-plus" style="top:1px"></i>
                                    <span style="margin-left:5px">Add Timed Task</span>
                                </button>
                            </div>
                        </div>
                        <div id="timed-tasks-div" style="margin-top:15px">
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
</div>
