 <div id="workflowdesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div style="float:left;">
            <span class="btn backtolist" title="back to list" style="float:left;"></span>
            <div id="selected_workflow" class="selected-workflow-text"></div>
            <span class="workflow-state"></span>
        </div> 
        <div style="margin-top:-0.6em;float:right;">
            <div style="float:right" class="btn-toolbar">
                <button type="button" class="btn btn-info checkworkflow">
                    <i class="glyphicon glyphicon-check" style="font-size:16px"></i>
                    <span style="margin-left:5px">Check</span>
                </button>
                <div class="btn-group">
                    <button class="btn btn-primary" data-toggle="dropdown" data-original-title="" title="" aria-expanded="false">
                        <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>
                        <span style="margin: 0 5px">Save</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item saveworkflow">Save</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item newworkflowversion">Save As New Version</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-inverse loghistory">
                    <i class="fa fa-history" style="font-size:16px"></i>
                    <span style="margin-left:5px">History</span>
                </button>
                <button type="button" class="btn btn-success newworkflowindesigner">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>
                    <span style="margin-left:5px">New WorkFlow</span>
                </button>
                <button type="button" class="btn btn-warning envsetting">
                    <i class="glyphicon glyphicon-cog" style="font-size:16px"></i>
                    <span style="margin-left:5px">Env Setting</span>
                </button>
                <button type="button" class="btn btn-danger varsetting">
                    <i class="glyphicon glyphicon-cog" style="font-size:16px"></i>
                    <span style="margin-left:5px">Global Var</span>
                </button>
            </div>
        </div>         
    </div> 
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12"></div>
        <!-- <div id="div-d3-lines-table" style="position: absolute; overflow-y: auto; overflow-x: hidden;z-index: 9000;height: 400px;width:300px; right:100px;"></div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                        <span class="glyphicon glyphicon-option-horizontal designer-split" draggable="true"></span>
                    </h5>
                </header>
                <div class="widget-body" id="workflow-info-edit">
                </div>    
            </section>
        </div>
    </div>
</div>