
<!-- <div class="row content no-data-div" ng-if="orgs.length == 0">
    <div class="row col-md-12">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <div>
            You don't belong to any organization, please click button below to create your first one.
            </div>
            <br/>
            <button type="button" class="btn btn-success new-btn" ng-click="showNewOrg()">
                <i class="fa fa-plus"></i>
                <span>New Organization</span>
            </button>
        </div>
    </div>
</div> -->
<div class="row" ng-if="teams.length > 0">
    <h3 class="page-title">
       Team - <strong> List </strong> 
    </h3>
   <!--  <h3 class="page-title">Organization - <span class="fw-semi-bold">List</span></h3> -->
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <legend>
                    <button type="button" class="btn btn-success btn-sm pull-left" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span>Create</span>
                    </button>
                    <div class="pull-right" style="font-size:14px;">
                        <!-- <span >Select Organization</span> -->
                        <!-- <div > -->
                                    <!-- <label>Select Organiztion</label> -->
                            <select class="select2 form-control input-sm" ng-model="selected.orgId" style="width:200px;" ng-change="get" ng-select="setSelectedOrg">
                                <option value="{{org.id}}" ng-repeat="org in orgs">{{ org.name }}</option>
                            </select>
                        <!-- </div> -->
                     </div>
                </legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th width="300px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr ng-repeat="team in teams">
                                <td>{{team.name}}</td>
                                <td>{{team.desc}}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm td-viewer" ng-click="edit(team.id)">
	                                    <i class="fa fa-pencil"></i>
	                                    <span>Edit</span>
	                                </button>
                                	<!-- <button type="button" class="btn btn-info btn-sm td-viewer" ng-click="showTeams(org.id)">
	                                    <i class="fa fa-users"></i>
	                                    <span>View Teams</span>
	                                </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>